input {
    border: none;
    border-bottom: #566885 solid 3px;
    background: transparent;
    width: 100%;
    padding: 7px;
    font-size: medium;
}

input:focus {
  outline: none;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px blue;
}

::-webkit-input-placeholder {
  color: #566885;
  font-weight: 700;
}

:-ms-input-placeholder {
  color: #566885;
  font-weight: 700;
}

::-moz-placeholder {
  color: #566885;
  font-weight: 700;
}

:-moz-placeholder {
  color: #566885;
  font-weight: 700;
}